// Details

.details-container {
  background-image: linear-gradient($dark-brown, $brown);
  border-radius: 15px;
  position: relative;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.crime-details-container {
  padding: 30px 55px;
  flex-grow: 4;
}

.reward-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

}

.day-location-container {
  display: flex;
  justify-content: space-between;

  i {
    padding-right: 5px;
  }

  p {
    font-style: italic;
    font-weight: 300;
  }

  p:last-child {
    color: $gold;
  }
}

.actions-btn-container {
  // display: flex;
  // justify-content: space-between;
  padding-top: 10px;
  // border-top: 1px solid $gold;
  // margin: 0 25px;
  margin-top: 15px;
  position: relative;
  bottom: 15px;
}

.actions-btn-container a {
  // display: flex;
  // justify-content: space-between;
  text-align: center;
  margin: auto;
}

.actions-btn {
  // margin-right: 20px;
  color: $light-gold;
  // background-color: lightblue;
  font-weight: bold;
  // border-left: 1px solid $gold;
  padding: 0 auto;
  text-align: center;
}

.actions-btn:hover {
  // margin-right: 20px;
  color: $very-light-ruby;
  // border-left: 1px solid $gold;
  padding: 0 auto;
  text-align: center;
}



.actions-btn:first-child {
  border-left: none;
  padding-left: 0;
}


// Actions

.actions-container {
  padding: 0;
}

.plan-container {
  background-image: linear-gradient($dark-brown, $brown);
  border-radius: 15px;
  text-align: center;
  height: 45%;
  display: flex; //
  align-items: center; //
  justify-content: center;
  // overflow: auto;
  width: fit-content;
  height: fit-content;
}

.plan-photo {
  background-color: rgba(0,0,0,0.3);
  border-radius: 15px;
  padding: 40px 30px;
}

.plan-photo img {
  border-radius: 15px;
}

.plan-photo img:hover {
  border-radius: 2px;
}

.crime-chart {
  margin: 10px 0;
}

.members-container {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient($dark-brown, $brown);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  height: 45%;
}

.team-list {
  background: rgba(0,0,0,0.2);
  width: 45%;
  border-radius: 15px;
  padding: 15px;

  h2{
    text-align: center;
  }
}

.team-list-members {
  display: flex;
  justify-content: space-between;
}

// Down, all things related to the
// toggle team members divs



.cont-01 {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box-1 {
  // background-color: red;
  width: 100%;
  // height: 400px;
  margin-bottom: 10px;
}

// NEW CODE HERE::

.show-page-container {
  // background-color: grey;
  margin-left: 20px;
  margin-right: 20px;
}

.scrl-to-chart-arrow {
  background-color: none;
  margin-top: 20px;
  text-align: center;
}

.crime-new-cont {
  // background-color: red;
  padding-left: 25px;
  padding-right: 25px;
}

.photo-cont {
  // background: red;
  min-height: 200px;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin-top: 20px;

  img {
    margin: 0 auto;
    border-radius: 15px;
  }

  p {
    display: inline-block;
    margin: 0 auto;
  }
}

.crime-cont {
  background-image: linear-gradient($dark-brown, $brown);
  padding: 15px;
  border-radius: 15px;
  position: relative;
}

.descr-cont {
  width: 100%;
}

.reward-cont {
  background-color: $brown;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 30px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;

  p {
    color: $gold;
    margin-bottom: 0;
  }

  .crime-reward {
    color: $light-gold;
    position: absolute;
    right: 0;
    top: 0;
    background: $light-brown;
    padding: 8px 50px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

.crime-dtl {
  margin-top: 40px;
  margin-left: 35px;
  margin-right: 35px;

  h2 {
    font-family: Raleway;
    font-weight: 400;
    text-align: left;
  }
}

.tabs-cont {
  margin-top: 20px;
  border-radius: 15px;
  // background-image: linear-gradient($dark-brown, $brown);
  // background: rgba(0,0,0,0.2);
  padding: 15px;

  h3 {
    font-family: Raleway;
    font-weight: 300;
    font-size: 14px;
    color: $very-light-ruby;
  }

  i:hover {
    color: $very-light-ruby;
    transition: 0.2s ease-in;
  }
}

.arrow-cont {
  // background-color: rgba(0,0,0,0.2);
}

#chart-arrow-dwn {
  font-size: 30px;
  color: $light-gold;
  animation: float 2s ease-in-out infinite;
}



