// Top part of page

.tag-container {
  ul {
    padding: 0;
  }
}


.tag-container {
  li {
    list-style: none;
    display: inline-flex;
    margin-right: 12px;
    margin-bottom: 6px;
    background: $gold;
    padding: 4px 15px;
    color: $dark-brown;
    border-radius: 15px;
    // text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  }
}


// Middle part of page

.flex-container {
  display: flex;
  margin: 30px 20px;
  height: fit-content;
}

// Details

.details-container {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 30px;
  max-width: 90%;
  min-height: fit-content;
}

.actions-container {
  flex-grow: 1;
}

.crime-details {
  max-width: 60%;
}

.crime-stats {
  max-width: 40%;
}

.team-list-members {
  display: flex;
  justify-content: space-between;
  max-height: 20%;
}

// Actions

.actions-container {
  padding: 20px;
}

.actions-btn {
  display: grid;
  row-gap: 10px;
  justify-content: center;
  max-height: 30%;
  margin-bottom: 70px;
}

.background-grey {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 25px;
  padding: 20px;
}