<div class="hero-banner">
  <h1>The Mob Club</h1>
  <h2>click to enter</h2>
    <% if current_user.nil? %>
      <%= link_to new_user_session_path do %>
      <i id="logo" class="fab fa-first-order"></i>
    <% end %>
    <% else %>
      <%= link_to profile_path do %>
      <i id="logo" class="fab fa-first-order"></i>
    <% end %>
    <% end %>
    <i id="arrow-dwn" class="fas fa-angle-down"></i>
</div>




<div class="prp-value">
  <div class="prp-container">
    <h1>1</h1>
    <h1>define <br> your skillset.</h1>
    <div class="prp-text">
      <p>Once you are in, you can let others know your worth. <br> From explosives expert to mastery in seduction - define your skills in your profile in an easy, convenient way.</p>
    </div>
  </div>
</div>

</div>
<div class="prp-value2">
  <div class="prp-container2">
    <h1>2</h1>
    <h1>find the<br> perfect crime.</h1>
    <div class="prp-text2">
      <p>In our club, it’s easy to find the perfect match - all you have to do is browse through the latest, most evil plans ever conceived, and earning your coins is only a click away.</p>
    </div>
  </div>
</div>


</div>
<div class="prp-value3">
  <div class="prp-container">
    <h1>3</h1>
    <h1>hire the best <br> mobsters.</h1>
    <div class="prp-text3">
      <p>Have a masterplan, that needs some expertise in opening bank vaults? Finding the right brains or muscle is now made easy - and discretion is the middle name of our Club.</p>
    </div>
  </div>
</div>

