  <% if notice.present? %>
    <span class="notice-box mt-4" role="alert">
      <%= notice.html_safe %>
    </span>
  <% end %>

<div class="container" id="profile-container" style="display: show">
  <div class="row">

    <div class="col-sm-12 col-md-4 col-lg-4 bg-white">
      <div class="profile-info">
        <div class="user-info">
          <div class="avatar-container"><p>AVATAR</p></div>
          <p>USER DESCRIPTION</p>
          <p><%= @user.description %></p>
        </div>
        <div class="links-container">
          <div><a href="#" id="dashboard-btn">Dashboard</div>
          <div><%= link_to 'Edit profile', edit_user_registration_path %></div>
          <div><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8 bg-white">

      <div id="dashboard-main" style="display:none">
        <div id="nav" class="tabs">
          <a href="#jobs" class="tab active">Current jobs</a>
          <a href="#pending" class="tab">Pending requests</a>
          <a href="#event-manager" class="tab">Event manager</a>
          <button class="tab act-button" id="create-event-btn">Organize Crime</button>
        </div>

        <div id="jobs" class="toggle" style="display:show">
          <div class="dashboard">Current jobs</div>
        </div>

        <div id="pending" class="toggle" style="display:none">
          <div class="dashboard">Pending requests</div>
        </div>

        <div id="event-manager" class="toggle" style="display:none">
          <div class="dashboard">Event manager</div>
        </div>
      </div>

      <div class="chart" style="display:show">
        <canvas id="myChart"></canvas>
      </div>


    </div>


  </div>
</div>

<%# Create event pop up %>

<div class="container" id="create-event-page" style="display:none">
 CREATE EVENT PAGE
</div>

<%# End of create event pop up %>