// use it as our default action/submit button:

.act-button {
  display: inline;
  background-color: $gold;
  color: $black;
  font-size: 18px;
  border-radius: 30px;
  font-weight: bold;
  padding: 8px 26px;
  border: 1px solid $gold;
}

.act-button:hover {
  text-decoration: none;
  background-color: $light-gold;
  color: $black;
  border: 1px solid $light-gold;
  transition: 0.3s;
}

// below, use this as back or cancel button

.cancel-button {
  height: 35px;
  display: inline;
  color: #D3AB6A;
  font-size: 16px;
  border: 1px solid #D3AB6A;
  border-radius: 30px;
  font-weight: bold;
  padding: 8px 26px;
  box-shadow: $box-medium;
}

.cancel-button:hover {
  text-decoration: none;
  color: $light-gold;
  border: 1px solid $light-gold;
  transition: 0.3s;
  box-shadow: $box-dark;
}

.submit-crime-skillset {
  height: 36px;
  display: inline;
  background-color: $gold;
  color: white;
  text-shadow: 1px 1px 2px rgba(115, 115, 115, 0.4);
  opacity: 1;
  font-size: 16px;
  border-radius: 30px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.05s ease-in-out;
}

.create-event {
  height: 36px;
  display: inline;
  background-color: $gold;
  color: white;
  text-shadow: 1px 1px 2px rgba(115, 115, 115, 0.4);
  opacity: 1;
  font-size: 16px;
  border-radius: 30px;
  font-weight: bold;
  padding: 0 20px;
  margin-top: 7px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.05s ease-in-out;
}

.submit-crime-skillset:hover {
  text-decoration: none;
  background-color: $medium-gold;
  color: $white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.create-event:hover {
  text-decoration: none;
  background-color: $medium-gold;
  color: $white;
  // border: 2px solid $light-gold;
  // text-shadow: 1px 1px 2px rgba(115, 115, 115, 0.4);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  // transform: translate(-1px, -1px);
}

.upload-style {
  display: inline;
  background-color: $gold;
  color: $black;
  font-size: 15px;
  border-radius: 30px;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid $gold;

}

.upload-style:hover {
  text-decoration: none;
  background-color: $light-gold;
  color: $black;
  border: 2px solid $light-gold;
  transition: 0.3s;
} 

