.chatroom-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatroom-container {
  margin: auto;
  width: 80%;
}

.talk-container {
  background-image: linear-gradient($brown, $dark-brown);;
  padding: 20px 30px;
  border-radius: 15px;
}

.cht-button-back {
  margin-top: 40px;
  text-align: center;
  padding: auto;
}

.msgess-button {
  display: inline;
  background-color: $gold;
  color: $black;
  font-size: 16px;
  border-radius: 30px;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid $gold;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.msgess-button:hover {
  display: inline;
  background-color: $light-gold;
  border: 1px solid $light-gold;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

