// Containers

.dashboard {
  min-height: 70vh;
  border-right: 1px solid $light-gold;
}

.dashboard li {
  list-style: none;
  border-bottom: 1px solid $light-gold;
  opacity: 0.8;
  letter-spacing: 1px;
  min-height: 60px;
}

.dashboard li:hover {
  background-color: rgba(241, 241, 241, 0.3);
  box-shadow: 1px 1px 4px rgba(115, 115, 115, 0.4);
  border-right: 1px solid  rgba(115, 115, 115, 0);
}

.dashboard li p {
  padding-bottom: 8px;
  padding-right: 6px;
  margin: 0;
}

.dashboard h6, p {
  font-family: 'Raleway', sans-serif;
}

.dashboard h6 {
  padding-top: 8px;
  margin-bottom: 0;
}

.empty-dash {
  margin: 30px;
}

.dash-date {
  float: right;
}

// Tabs

.tabs {
  display: flex;
  position: relative;
}

.tab {
  color: $light-gold;
  padding: 8px 0;
  margin-right: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  transition: color 0.05s ease-in 0.05s;
}

.tab:hover {
  color: $gold;
  font-weight: normal;
  transition: color 0.05s ease 0s;
  text-decoration: none;
}

.active {
  color: $gold;
  border-bottom: 3px solid $gold;
  font-weight: normal;
  transition: color 1s ease-in 1s;
}
