// Containers

#dashboard-main {
  padding: 20px 46px;
  box-shadow: $box-medium;
}

.dashboard {
  min-height: 70vh;
  // border-right: 1px solid rgba(241, 241, 241, 0.3);
}

.dashboard li {
  list-style: none;
  border-bottom: 1px solid rgba(115, 115, 115, 0.4);
  letter-spacing: 1px;
  min-height: 60px;
  max-height: fit-content;
}

.dashboard li:hover {
  background-color: rgba(50, 50, 50, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-right: 1px solid  rgba(115, 115, 115, 0);
  border-bottom: 1px solid rgba(115, 115, 115, 0);
  border-radius: 4px;
}

.dashboard li p {
  font-size: 16px;
  // padding-bottom: 8px;
  padding-left: 6px;
  margin: 0;
}

.dashboard p {
  font-size: 16px;
  padding-bottom: 6px;
  padding-right: 6px;
  margin: 0;
  color: #FFF;
}

.dashboard h6, p {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

.dashboard h6 {
  padding-top: 10px;
  padding-left: 8px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;
}
// 
.dashboard a {
  font-size: 16px;
  padding-bottom: 8px;
  padding-right: 6px;
  margin: 0;
}

.empty-dash {
  margin: 30px;
}

.float-right {
  float: right;
}

.dashboard ul {
  padding-top: 16px;
}

.li-dash-org {
  display: flex;
  justify-content: space-between;
}

.chat-profile-cta {
  // font-weight: lighter;
  color: $pale-grey;
  padding-left: 16px;
  font-size: 16px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.chat-profile-cta:hover {
  // font-weight: lighter;
  color: $very-light-ruby;
  padding-left: 16px;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
}




// Tabs

.tabs {
  display: flex;
  position: relative;
}

.tab {
  color: $medium-gold;
  padding: 8px 0;
  margin-right: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  transition: color 0.05s ease-in 0.05s;
}

.tab:hover {
  color: $light-gold;
  // font-weight: normal;
  transition: color 0.05s ease 0s;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  transform: translate(-1px, -1px);
}

.active {
  color: $gold;
  border-bottom: 3px solid $gold;
  font-weight: normal;
  transition: color 1s ease-in 1s;
}

.op-9 {
  // opacity: 0.9;
  font-weight: 100;
}

.text-white-ruby {
  color: $pale-grey;
  transition: 0.3s ease-in;
  text-shadow: $box-medium;
}

.text-white-ruby:hover {
  color: $very-light-ruby;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}