.devise-form-container {
  margin: 5vh auto;
  max-width: 500px;
  max-height: 80vh;
  background-color: rgb(44,41,40);
  border-radius: 15px;
  padding: 50px;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);

  h2 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 32px;
    color:  $medium-gold;
  }
}

.sign-up-form-container {
  margin: 0 auto;
  max-width: 500px;
  max-height: 80vh;
  background-color: rgb(44,41,40);
  border-radius: 15px;
  padding: 30px 50px;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);

    h2 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 32px;
    color:   $medium-gold;
  }
}
// Input

.color-white {
  color: #FFF;
}

.devise-input-container {
  margin-top: 50px;
}

.devise-input-field {
  background: inherit;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

// .devise-input-field::placeholder {
//   color: $white;
// }

.devise-input-field:focus {
  background: inherit;
  box-shadow: 0.7px 0.7px $light-gold;
  border-bottom: 2px solid $gold;
}

.password-position {
  text-align: right;
}

.password-position a {
  font-size: 14px;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  color: rgb(232,205,162);
}



// Button

.devise-button-container {
  display: grid;
  row-gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

.devise-btn {
  display: block;
  color: $brown;
  background: $medium-gold;
  font-weight: bold ;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 50px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
}

.devise-btn:hover {
  color: $black;
  background: rgb(232,205,162);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.devise-btn-sign-up {
  color: $medium-gold;
  display: block;
  border: 1px solid $medium-gold;
  background: none;
  font-weight: bold ;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 50px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
}

.devise-btn-sign-up:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  background-color: rgba(54, 50, 48, 1);
  border: 1px solid rgb(232,205,162);
}