.footer {
  background-color: $dark-brown;
  padding: 1px;
  position: absolute;
  width: 100%;
  margin-top: 40px;

}

.footer a {
  color: #413D3A;
  font-size: 15px;
}

.footer a:hover {
  color: #E8CDA2;
  font-size: 15px;
}

.footer p {
  color: #E8CDA2;
  font-size: 12px;
  margin-bottom: 5px;
}
