// used in the Mob Club homepage

#hero-banner {
  height: 100vh;
  background-color: $dark-brown;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero-banner h1 {
  font-size: 64px;
  text-shadow: 1px 1px 4px rgba(21,21,21,0.9);
}

#hero-banner h2 {
  font-size: 24px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 4px rgba(21,21,21,0.9);
}

#hero-banner i {
  font-size: 48px;
  font-weight: normal;
  color: $gold;
  margin-top: 15px;
  text-shadow: 1px 1px 4px rgba(21,21,21,0.7);
  transition: ease-in 0.1s;
  // animation: spin 4s linear infinite;
}

#hero-banner i:hover {
  color: $light-gold;
  // transition: 0.3s;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  // transition: ease-out 0.5s;
  transform: translateY(-1px);

  // animation: spin 4s linear infinite;
}

// .arrow-down {
//   height: 100px;
// }

// proposition value of the page


.prp-value {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1569388037243-dfa034ecdbca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.prp-container {
  margin: 100px 30%;
}

.prp-text {
  text-align: right;
  padding-top: 20px;
}

// for the middle proposition nr 2

.prp-value2 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1568124928495-9d66d6d74f2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  text-align: right;
  display: flex;
  align-items: center;
}

.prp-container2 {
  margin: 100px 30%;
}

.prp-text2 {
  text-align: left;
  padding-top: 20px;
  text-shadow: 2px 2px 8px black;
}
