.navbar-lewagon {
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: space-between;
  // border: 1px solid $gold;
  color: $gold;
  margin-bottom: 30px;
  // background-color: rgba(50, 50, 50, 0.2);
}

.navbar-brand i {
  color: $gold;
  font-size: 36px;
  font-weight: normal;
  // background-color: white; original navbar
}

.dropdown-burger {
  color: $gold;
  font-size: 28px;
  transition: 0.2s ease-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.dropdown-burger:hover {
  color: $light-gold;
  font-size: 28px;
  text-shadow: 2px 2px 2px rgb(0,0,0);
  transform: translateY(-1px);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link2 {
  color: $medium-gold;
  padding: 0 20px;
  margin-bottom: 0;
  align-self: center;
  font-weight: 300;
  transition: 0.2s ease-out;
}


.nav-link2:hover {
  color: $light-gold;
  transition: color 0.05s ease 0s;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgb(0,0,0);
  transform: translateY(-1px);
}

.hover-up {
  text-shadow: 1px 1px 4px rgba(21,21,21,0.7);
  transition: 0.2s ease-out;
}

.hover-up:hover {
  text-shadow: 4px 2px 3px rgba(0,0,0,0.9);
  transform: translateY(-1px);
  color: $light-gold;
}

.nav-drop a {
  font-size: 14px;
  letter-spacing: 1px;
  list-style: none;
  padding: 10px 20px;
  color: #FFF;
  font-weight: 200;
}

.nav-drop a:hover {
  background-color: rgba(50, 50, 50, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: $medium-gold;
}

.nav-drop {
  margin-top: 2vh;
  padding-right: 0;
  padding: 0;
  background-color: rgba(31,29,27, 1);
  border: 1px solid rgba(21,21,21, 1);
  border-radius: 4px;
  box-shadow: $box-medium;
}

.drop-icon {
  color: $gold;
  font-size: 16px;
}