.navbar-lewagon {
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: space-between;
  border: 1px solid $gold;
  color: $gold;
  margin-bottom: 30px;
  // background-color: white; original navbar
}

.navbar-lewagon i {
  color: $gold;
  font-size: 36px;
  font-weight: normal;
  // background-color: white; original navbar
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link2 {
  color: $medium-gold;
  padding: 0 20px;
  margin-bottom: 0;
  padding-top: 5px;
  font-weight: 300;
  transition: color 0.05s ease-in 0.05s;
}


.nav-link2:hover {
  color: $light-gold;
  // font-weight: normal;
  transition: color 0.05s ease 0s;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  transform: translate(-1px, -1px);
}

.hover-up {
  text-shadow: 1px 1px 4px rgba(21,21,21,0.7);
  transition: ease-in 0.1s;
}

.hover-up:hover {
  text-shadow: 4px 2px 3px rgba(0,0,0,0.9);
  transform: translateY(-1px);
}
// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// if you want to rever to the old navbar just uncomment and delete stuff
.nav-drop a {
  font-size: 14px;
  letter-spacing: 1px;
  list-style: none;
  padding: 10px 20px;
  color: #FFF;
  font-weight: 200;
}

.nav-drop a:hover {
  background-color: rgba(50, 50, 50, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: $medium-gold
}

.nav-drop {
  margin-top: 2vh;
  padding-right: 0;
  padding: 0;
  background-color: rgba(31,29,27, 0.9);
  border-radius: 4px;
}

.drop-icon {
  color: $gold;
  font-size: 16px;
}