// Create event

#create-event-btn {
  position: absolute;
  right: 2px;
  //unsure of the correct propertys to use in order to put the button on the right
}

#create-event-page {
  height: 80vh;
  width: 90%;
  background-color: lightgreen;
  margin: 0 auto;
}