// Create event

#create-event-btn {
  align-self: baseline;
  justify-self: flex-end; 
  position: relative;
  //unsure of the correct propertys to use in order to put the button on the right
}

#create-event-page {
  height: 80vh;
  width: 90%;
  background-color: aqua;
  margin: 0 auto;
}