// Create event

#create-event-btn {
  position: absolute;
  // padding-top: 9px;
  vertical-align: middle;
  right: 2px;
  color: $medium-grey;
  font-size: 16px;
  //unsure of the correct propertys to use in order to put the button on the right
}

#create-event-page {
  height: 80vh;
  width: 100%;
  background-color: rgba(241, 241, 241, 0);
  border-radius: 5px;
}