// Main container
#profile-container {
  background-color: rgba(0, 0, 0, 0)!important;
  border-radius: 10px;
}

.links-container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  background-color:rgba(72, 64, 61, 0.1);
  background-image: linear-gradient(rgb(31,29,27), $dark-brown);
  padding: 0 30px 26px 30px;
  border-radius: 10px;
  box-shadow: $box-medium;
}

#dashboard-main {
  background-color:rgba(72, 64, 61, 0.1);
  background-image: linear-gradient(rgb(31,29,27), $dark-brown);
  border-radius: 10px;
}

// User info

.user-info {
  height: 80%;
  font-size: 16px;
}

.user-info p {
  font-size: 16px;
  color: $light-gold;
  text-shadow: 1px 1px 2px rgba(21,21,21,1);
}

#username {
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(21,21,21,1);
  color: #FFF;
}


.user-info a {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  padding: 30px; 
}

.links-container p {
  height: 20%;
  width: inherit;
  margin: 0 auto;
  // border-bottom: 1px solid $gold;
  padding: 16px 45px;
  text-shadow: 1px 1px 4px rgba(21,21,21,0.7);
  transition: ease-in 0.1s;
}

.color-gold {
  color: $gold;
  font-size: 16px;
}

.color-gold:hover {
  color: #FFF;
}

.links-container p:hover {
  // border-bottom: 1px solid $light-gold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  transform: translate(-1px, -1px);
}

// Avatar

.profile-avatar {
  // padding-top: 20px;
  max-height: 150px;
  border-radius: 50%;
  max-width: 150%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  background-image: linear-gradient(rgb(31,29,27), $dark-brown);
}

// horizontal rules

hr {
  // width: 150px;
  margin: 0 auto;
  // height: 0.5px;
  background-color: $gold;
  opacity: 1;
}

.trans--grow{
  -webkit-transition: all 2s ease-in-out; /* For Safari 3.1 to 6.0 */
  transition: all 2s  ease-in-out;
  width : 0;
}

.grow{
  width:90%;
}