// Main container

.profile-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  text-align: center;
  background-color:  rgba(241, 241, 241, 0.3);
}

// User info

.user-info {
  height: 80%;
  font-size: 16px;
}

.user-info a {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  padding: 16px;
  
}

.links-container {
  height: 20%;
  width: inherit;
  margin: 0 auto;
}

.links-container p {
  border-bottom: 1px solid $light-gold;
  padding: 16px 25px;
}

.links-container p:hover {
  border-bottom: 2px solid $light-gold;
  text-shadow: 1px 1px 3px rgba(241, 241, 241, 0.5);
}

// Avatar

.profile-avatar {
  max-height: 150px;
  border-radius: 50%;
  max-width: 100%;
}